*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.conatinerSignUp{
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15 px;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 200;
}


.bgsignup {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url('../AddImage/signupBG.jpg') no-repeat;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}


.title1SignUp {
  color: rgb(0, 255, 255);
  font-family: serif;
  text-align: center;
  font-size: 30px;
}

.title2SignUp {
  color: rgb(255, 255, 255);
  font-family: serif;
  text-align: center;
  font-size: 18px;
}

.form-conatinerSignUp {
  border: px solid #ffff;
  width:inherit;
  padding: 50px 60px;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left:15%;
  margin-right:15%;
  -webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
  box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
  z-index: 300;
  background:rgba(0,0,0,0.6);
}

.form-groupSignUp{
  z-index:400;
}
