
.inputStyle{
    background-color: #202020;
    box-shadow: inset 0 0 5px #41504a;
    border: none;
    
}

.cardStyle{
    /*background: black;*/
    
    border:thin;
    border-bottom-style:solid;
    border-color:grey;
   
}

.add{
    background: linear-gradient(to right, #007bff 0%, #33CCFF 100%);
    border: none;
}

.remove{
    background: linear-gradient(to right, #e60000 0%, #ff6666 100%);
    border-color:#e60000;
}